extends ../layouts/_default

block body

  main(class='u-flex u-flex-column u-items-center u-justify-center u-h100')

    article(class='o-container')
      header(class='u-hide')
        h1=app.name

      div(id='jungleoats')
        img(
          src=`${paths.images}jungleoats.png`
          width=492
          height=492
          alt='This page requires Flash'
          class='u-mx-auto u-block u-mb4'
        )

      footer(class='u-hide' itemprop='author copyrightHolder' itemscope itemtype='http://schema.org/Person')
        meta(itemprop='name' content=author.name)
        meta(itemprop='description' content=author.description)
        meta(itemprop='jobTitle' content=author.jobTitle)
        meta(itemprop='url' content=author.url)
        meta(itemprop='email' content=author.email)
        meta(itemprop='image' content='http://lanceguyatt.com/images/share.png')

append scripts

  script(src=`${paths.scripts}swfobject.js`)
  script.
    swfobject.embedSWF('flash/jungleoats.swf', 'jungleoats', 800, 600, '6.0.0');
