doctype
html(
  dir='ltr'
  lang='en'
  prefix='og: http://ogp.me/ns schema: http://schema.org/'
)
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    block title

      title=website.name

    meta(name='viewport' content='width=device-width, initial-scale=1')

    meta(property='og:title' content=website.name)
    meta(property='og:description' content=website.description)
    meta(property='og:url' content=website.url)
    meta(property='og:image' content=website.image.url)
    meta(property='og:image:width' content=website.image.width)
    meta(property='og:image:height' content=website.image.height)
    meta(property='og:site_name' content=website.name)
    meta(property='og:type' content='website')

    meta(name='twitter:title' content=website.name)
    meta(name='twitter:description' content=website.description)
    meta(name='twitter:image:src' content=website.image.url)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:creator' content=author.twitter)

    link(rel='icon' sizes='180x180' href='apple-touch-icon.png')
    link(rel='icon' type='image/png' href='favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='favicon-16x16.png' sizes='16x16')
    link(rel='manifest' href='manifest.json')

    link(rel='author' href='humans.txt' type='text/plain')

    meta(name='apple-mobile-web-website-title' content=website.name)
    meta(name='application-name' content=website.name)

    style
      include ../../../build/styles/site.css

  body

    div(class='u-flex u-flex-column u-items-center u-justify-center u-h100')

      article(
        itemscope
        itemtype='http://schema.org/WebPage'
        class='o-container'
      )

        header(class='u-hide')
          h1(itemprop='name')=website.name

        block view

        footer

          meta(itemprop='description' content=website.description)
          meta(itemprop='url' content=website.url)

          div(itemprop='image' itemscope itemtype='http://schema.org/ImageObject')
            meta(itemprop='contentUrl' content=website.image.url)
            meta(itemprop='width' content=website.image.width)
            meta(itemprop='height' content=website.image.height)

          meta(itemprop='dateCreated' content=website.dateCreated)
          meta(itemprop='datePublished' content=website.datePublished)
          meta(itemprop='dateModified' content=website.dateModified)

          if author

            div(itemprop='author' itemscope itemtype='http://schema.org/Person')
              meta(itemprop='name' content=author.name)
              meta(itemprop='description' content=author.description)
              meta(itemprop='jobTitle' content=author.jobTitle)
              meta(itemprop='url' content=author.url)
              meta(itemprop='email' content=author.email)
              div(itemprop='image' itemscope itemtype='http://schema.org/ImageObject')
                meta(itemprop='contentUrl' content=author.image.url)
                meta(itemprop='width' content=author.image.width)
                meta(itemprop='height' content=author.image.height)

    block scripts
